// ::-webkit-scrollbar {
//   width: 0px;
// }
// ::-webkit-scrollbar-track {
//   background: #fff;
// }
// ::-webkit-scrollbar-thumb {
//   background: var(--blue-dark);
//   border-radius: 0;
// }
// * {
//   -ms-overflow-style: none;
//   scrollbar-width: none;
// }

// color: var(--blue-dark);
:root {
  --text-dark: #38383c;
  --lange-orange: #f39200;
  --lange-orange-soft: #f9c069;
  --lange-orange-light: #f5daa6;
  // --lange-orange-light: #ffe9c6;
  --lange-orange-light2: #fff3e1;
  // --lange-orange-light: #fff8ed;
  --lange-blue: #0075bf;
  --lange-blue-light: #8ab5e1;
  --lange-blue-light2: #abc3dc;
  scroll-behavior: smooth;
}

.hoverPurple {
  &:hover {
    background: var(--purple-blue) !important;
  }
}
body {
  color: var(--text-dark);
  .activeMenu {
    color: var(--blue-dark) !important;
  }
  background: var(--lange-orange-light2);
}

.font-bold {
  font-weight: 500 !important;
}

.slick-dots {
  li {
    button {
      &::before {
        font-size: 0px !important;
        width: 18px !important;
        height: 18px !important;

        opacity: 0.75 !important;
      }
      &::after {
        left: -0.9px !important;
        top: -0.9px !important;
      }
    }
  }
}
.slick-dots {
  list-style: none !important;
  text-align: center !important;
}

.slick-dots li {
  position: relative !important;
  display: inline-block !important;

  padding: 0 !important;
}

.slick-dots li,
.slick-dots li button {
  width: 20px !important;
  height: 20px !important;
  cursor: pointer !important;
}

.slick-dots li button {
  font-size: 0 !important;
  line-height: 0 !important;
  display: block !important;
  padding: 5px !important;
  color: transparent !important;
  border: 0 !important;
  outline: none !important;
  background: transparent !important;
}

.slick-dots li button:focus,
.slick-dots li button:hover {
  outline: none !important;
}

.slick-dots li button:focus:before,
.slick-dots li button:hover:before {
  opacity: 1 !important;
}

.slick-dots li button:before {
  font-family: slick !important;
  font-size: 0px !important;
  line-height: 20px !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 14px !important;
  height: 14px !important;
  content: "•" !important;
  text-align: center !important;
  opacity: 0.75 !important;
  color: #000 !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

.slick-dots li.slick-active button:before {
  opacity: 0.75 !important;
  color: #000 !important;
}
.slick-dots li button:after {
  width: 14px;
  height: 14px;
  left: -0px !important;
  top: 0px !important;
}
.slider-customized {
  .slick-next {
    &:focus {
      color: #fff !important;
      background-color: #efc36f !important;
    }
    &:hover {
      color: #fff !important;
      background-color: #efc36f !important;
    }
  }
  .slick-prev {
    &:focus {
      color: #fff !important;
      background-color: #efc36f !important;
    }
    &:hover {
      color: #fff !important;
      background-color: #efc36f !important;
    }
  }
}

.active-scroll-spy {
  & > * {
    border-bottom: 2px solid black;
  }
}

// ++++++++++++++++++++
// ++++++++++++++++++++
// CUSTOM LANGE
// ++++++++++++++++++++
// ++++++++++++++++++++

.theme-menu-four .logo img {
  max-width: 500px;
  transition: all 0.4s ease-out;
}
.theme-menu-four.fixed .logo img {
  max-width: 200px;
  height: 100px;
}

.theme-menu-four .logo {
  transform: translateX(-120px);
}

.theme-main-menu.sticky-menu.fixed.theme-menu-four {
  background: var(--lange-orange-light);
}

body .theme-btn-five {
  background: var(--lange-blue);
  border-radius: 4px;
}

body .theme-btn-five:before {
  border-radius: 4px;
  background: var(--lange-orange);
}

.theme-menu-four .navbar-nav .nav-item.active .dropdown-toggle:after,
.theme-menu-four .navbar-nav .nav-item:hover > .dropdown-toggle:after,
.theme-menu-four
  .navbar
  .dropdown-menu
  .dropdown-submenu:hover
  .dropdown-item:after,
.theme-menu-four
  .navbar
  .dropdown-menu
  .dropdown-submenu:hover
  > .dropdown-item,
.theme-menu-four .navbar-nav .nav-item.active .nav-link,
.theme-menu-four .navbar-nav .nav-item:hover > .nav-link,
.theme-menu-four .navbar .dropdown-menu .dropdown-item:hover {
  color: var(--lange-orange);
}

.hero-banner-four {
  padding-top: 300px;
}

.hero-banner-four .sub-text {
  font-size: 22px;
  padding: 50px 0;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.hero-banner-four .review-text span {
  font-size: 1.6em;
  color: var(--lange-blue);
  text-decoration: underline;
}

.hero-banner-four h1 span:before {
  background: var(--lange-orange-soft);
  width: 0;
}

.hero-banner-four h1 span:before {
  animation: grow 2s forwards;
  animation-timing-function: ease-in-out;
}

.hero-banner-four h1:nth-child(2) span:before {
  animation-delay: 400ms;
}
.hero-banner-four h1:nth-child(3) span:before {
  animation-delay: 600ms;
}

@keyframes grow {
  0% {
    left: -25%;
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.block-style-five {
  margin-top: 0;
  background: var(--lange-orange-light2);
}

.block-style-five p {
  font-size: 18px;
  min-height: 80px;
  color: var(--text-dark);
}
.block-style-five .title {
  color: var(--lange-orange);
  font-family: "Roboto", serif;
  font-weight: 500;
  text-transform: uppercase;
}

.block-style-five .title:before {
  height: 4px;
  background: var(--lange-orange-light);
  bottom: -5px;
}

.fancy-feature-nine {
  background: var(--lange-blue);
}

// .title-style-five h2 span {
//   color: var(--lange-orange-light);
// }
// .block-style-fourteen p {
//   color: var(--lange-orange-light);
// }

.list-meta {
  padding: 0px 0 32px 15px;
}
.list-meta li {
  padding-left: 25px;
  position: relative;
  margin-bottom: 10px;
}
.list-meta li:before {
  content: url(../images/icon/49.svg);
  position: absolute;
  left: 0;
  top: 0;
}

.list-orange li:before {
  content: url(../images/icon/49_orange.svg);
}

.pricing-section-three {
  background: var(--lange-orange-light);
}

.pricing-table-area-three .pr-table-wrapper .subscribe-btn {
  border: 2px solid var(--lange-blue);
  color: var(--lange-blue);
}

.pricing-table-area-three .pr-table-wrapper .subscribe-btn:hover {
  background: var(--lange-blue);
  color: #fff;
}

// ######
// SLIDER
// ######

.client-feedback-slider-three .slick-next,
.client-feedback-slider-three .slick-prev {
  bottom: -20px;
}
.slick-slide img {
  transition: all 0.4s ease-out;
}
.slick-slide:not(.slick-current) img {
  opacity: 0.5;
  transform: scale(0.95);
}
.slick-current img {
  opacity: 1;
  transform: scale(1);
}
.slick-current p {
  color: var(--lange-orange);
}

// #######
// CONTACT
// #######

.fancy-short-banner-five form {
  height: auto;
  margin: 50px 25px;
}

.fancy-short-banner-five input,
.fancy-short-banner-five textarea {
  width: 100%;
  height: 100%;
  border: 2px solid var(--text-color) !important;
  color: var(--heading) !important;
  padding: 15px 35px !important;
  margin: 10px 0;
  background-color: var(--lange-orange-light);
}
.fancy-short-banner-five textarea {
  min-height: 150px;
}
.fancy-short-banner-five form button {
  position: static;
  background: var(--lange-orange);
  border-radius: 4px;
  padding: 10px 50px;
  margin: 15px 0;
  width: 100%;
  font-size: 20px;
  text-transform: uppercase;
  font-family: "Rubik";
}

.fancy-short-banner-five form button:hover {
  background: var(--lange-blue);
}

.theme-footer-four {
  background: var(--lange-orange-light);
}

/*-------------HERO 3 COLUMNS-----------*/
.fancy-feature-eight .bg-wrapper {
  background: transparent;
}
.fancy-feature-eight .bg-wrapper:before {
  // background: url(../images/shape/97.svg) no-repeat center top;
  background: none;
}
.fancy-feature-eight .bg-wrapper:after {
  // background: url(../images/shape/98.svg) no-repeat center bottom;
  background: none;
}

.hero-banner-four .shape-six {
  bottom: 2%;
}
.hero-banner-four .shape-seven {
  bottom: 20%;
}

// #############
// GESCHICHTE
// #############

.faq-section-four {
  background: var(--lange-orange);
}

.faq-section-four p,
.faq-section-four h6,
.faq-section-four h3 {
  color: white;
}

.scroll-top {
  background: var(--lange-blue);
}
.scroll-top:hover {
  background: var(--lange-blue-light);
}

// ##################
// HEADER HOLDER
// ##################

.header-holder {
  position: relative;

  & img {
    position: absolute;
    max-height: 550px;
    width: auto;
    object-fit: contain;
    border-radius: 4px;
    z-index: 30;
    border: 5px solid var(--lange-orange-light);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  & img:nth-child(2) {
    margin-top: 10%;
    margin-left: 35%;
    z-index: 20;
  }
  & img:nth-child(3) {
    margin-top: 20%;
    margin-left: 75%;
    z-index: 10;
  }
}

.header-kontakt {
  color: var(--text-color);
  font-size: 15px;
}

.fixed .header-kontakt {
  display: none !important;
}

.nav-container .dropdown-menu::before {
  content: "";
  position: absolute;
  transition: all 0.3s ease-in;
  top: -20px;
  left: calc(50% - 60px);
  border-top: 10px solid transparent;
  border-bottom: 10px solid white;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.scroller {
  display: flex;
  flex-direction: row;
  opacity: 0;
  transition: all 0.4s ease-out;
  position: fixed !important;
  bottom: -15px;
  left: -150px;
  z-index: 99;
  // transform: translateY(-100%);

  & img {
    height: 50px;
  }
}

.scroller.scrolling .pan {
  animation: pan 2s alternate;
  animation-iteration-count: infinite;
}

.fixed ~ .scroller {
  opacity: 1;
  // transform: translateY(0%);
}

.scroller-middle {
  width: 100vw;
  height: 50px;
  background-image: url(/images/lange/scroller/scroller-hor-middle.svg);
  background-repeat: repeat-x;
  // background-size: cover;
  // background-size: auto;
  // background-position: 0% 0%;
}

@keyframes pan {
  0% {
    transform: translateX(-15px);
    rotate: (-2deg);
  }
  50% {
    transform: translateX(-5px);
    rotate: (2deg);
  }
  100% {
    transform: translateX(-15px);
    rotate: (4deg);
  }
}

// MODAL

.fancy-feature-eight .block-style-five:hover {
  cursor: pointer;
}

.react-responsive-modal-root {
  z-index: 99999 !important;
}

.react-responsive-modal-closeButton {
  left: 15px;
  fill: white;
}

.lange-modal {
  background: var(--lange-orange) !important;
  color: white;
  padding: 2rem !important;
  // margin: 2rem;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px !important;
}

.lange-modal-content {
  display: flex;
  gap: 3rem;
}

.lange-modal-content > div {
  position: relative;
  width: 50%;
}

.lange-modal-content .title {
  font-size: 22px;
  margin-bottom: 35px;
  position: relative;
}

.lange-modal-content .icon {
  margin-top: 35px;
  margin-bottom: 15px;
}

.lange-modal-content .title::before {
  content: "";
  width: 100%;
  height: 3px;
  background: var(--lange-orange-light);
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: -5px;
}
.lange-modal-content p {
  margin-bottom: 10px;
}

.hero-banner-four h1 {
  font-family: "Roboto";
  font-weight: 500;
  color: var(--text-dark);
}

.fancy-text-block-nineteen .text-wrapper p {
  color: var(--text-dark);
}

.title-style-five h2 {
  color: var(--text-dark);
  font-weight: 500;
}

.pricing-table-area-three .pr-table-wrapper .pack-name {
  color: var(--text-dark);
}

.theme-footer-four .footer-title {
  color: var(--text-dark);
}

.navbar-nav .nav-item .nav-link,
.navbar .dropdown-menu .dropdown-item {
  color: var(--text-dark);
}

// RESPONSIVE
@media (max-width: 1400px) {
  .theme-menu-four .logo img {
    max-width: 380px;
  }
}
@media (max-width: 1250px) {
  .theme-menu-four .logo img {
    max-width: 350px;
  }

  .theme-menu-four.fixed .logo img {
    max-width: 280px;
    transform: translateX(20px);
  }
}

.burger {
  color: var(--lange-orange);
  font-size: 22px;
  margin-top: -90px;
  animation: swing ease-in-out 1s infinite alternate;
  transform-origin: center -20px;
  z-index: 9999;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
@keyframes swing {
  0% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(-2deg);
  }
}

@media (min-width: 1000px) {
  .mobile-nav {
    display: none;
  }
}

.mobile-nav {
  position: absolute;
  background-color: var(--lange-blue-light2);
  color: white;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 90vh;
  padding: 10%;
  font-size: 22px;
  line-height: 40px;
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
  z-index: 500;

  .mobile-nav-wrapper {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  li {
    transition: all 0.3s ease-in-out;
  }
  li:hover {
    transform: translateX(5px);
    color: var(--lange-blue);
    cursor: pointer;
  }

  .mobile-sub-nav {
    margin-left: 20px;
  }

  .logo-mobile {
    transform: translateX(-180px);
  }

  &.open {
    transform: translateY(0);
  }
}

@media (max-width: 991px) {
  .hero-banner-four h1 {
    font-size: 75px;
  }
}

@media (max-width: 991px) {
  .geschichte > img {
    z-index: 0 !important;
  }
}

@media (max-width: 500px) {
  .burger {
    position: absolute;
    top: 25px;
    margin-top: 0;
  }
  .theme-menu-four .logo {
    transform: translateX(-140px);
  }
  .header-kontakt {
    display: none !important;
  }
  .hero-banner-four h1 {
    font-size: 55px;
  }
  .hero-banner-four {
    padding: 200px 0 !important;
  }
  .mobile-nav .logo-mobile {
    transform: translateX(-150px);
  }
  .fixed .burger {
    top: -40px;
  }
  .lange-modal-content {
    flex-direction: column;
  }
  .lange-modal-content > div {
    width: 100%;
  }
  .slick-slide p {
    padding: 20px 0 !important;
  }
  .slick-current img {
    transform: scale(1.25);
  }
  .client-feedback-slider-three {
    margin-bottom: 150px !important;
  }
  .fancy-short-banner-five .px-5 {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
  .fancy-short-banner-five form {
    margin: 1rem;
  }
  .fancy-short-banner-five br,
  .theme-footer-four br {
    display: block;
  }
  .theme-footer-four .logo {
    transform: translateX(-80px);
  }
}

.header-kontakt-top {
  display: none !important;
}

@media (max-width: 500px) {
  .header-kontakt-top {
    display: flex !important;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: row;
    padding: 5px 15px;
    font-size: 14px;
    gap: 14px;
    color: var(--text-dark);
    z-index: 99999;
    background-color: var(--lange-orange-light2);
    width: 100%;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.05);

    img {
      width: 20px;
    }
  }
}
